*{
    margin: 0px;
    padding: 0px;
}

.header{
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background-color:orchid;
    z-index: 2;
}

#nav_header{
    height: 100%;
    width: 390px;
    margin-right: 50px;
}
h1{
 color:floralwhite;
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 38px;
 font-family: monospace;
 height: 100%;
}
#nav_bar{
    height: 100%;
    width: 900px;
}
#nav_container{
    height:75px;
    margin-right: 5%;
    display: flex;
    justify-content: space-evenly;

}
.nav_elements{
    display: flex;
    align-items: center;
    justify-content:center;
    font-family: monospace;
    font-size: 24px;
    font-weight: bold;
    color:floralwhite;
    margin-right: 10px;
    margin-left: 10px;
    height: 100%;
    transition: 0.3s;
}
.nav_elements:hover{
    background-color: palevioletred;
   
}
#container{
    height:1000px;
    width:1000px;
    position: relative;
    bottom: 150px;
    background-color: white;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0, auto;
}
h2{
display:flex;
flex: none;
 align-items: center;
 justify-content: center;
 font-size: 38px;
 font-family: monospace;
 height: 100%;
 color: palevioletred;
 margin-left: 70px;
}

p{
    word-wrap: normal;
    height: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: monospace;
    color: palevioletred;
    margin-left: -550px;
} 


